---
const {
    id,
    details,
    location,
    images = [],
    url
} = Astro.props;
---

<div class="card lg:card-side bg-white lg:w-[60%] shadow-sm m-5">
    <figure>
        <div class="carousel w-full">
            {images.map((src: string, index: number) => (
                <div id={`${id}${index}`} class="carousel-item relative w-full">
                    <img src={src} />
                    {images.length > 1 && (
                        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                            <a href={`#${id}${index == 0 ? images.length - 1 : index - 1}`} class="btn btn-circle">❮</a>
                            <a href={`#${id}${index == (images.length - 1) ? 0 : index + 1}`} class="btn btn-circle">❯</a>
                        </div>
                    )}
                </div>
            ))}
        </div>
    </figure>
    <div class="card-body text-center">
        <h2 class="card-title text-[#116089]">{details}</h2>
        <p class="font-semibold m-1">{location}</p>
        <div class="card-actions justify-end lg:m-0 m-2.5">
            <a href={url}><button class="btn bg-[#116089] text-white hover:bg-[#116089]/85">Book Now</button></a>
        </div>
    </div>
</div>